$primary: var(--primary-color);

.home {
  &__spacer {
    flex: 1 1 auto;
  }

  &__container {
    padding: 20px;
  }

  &__title {
    color: $primary;
  }

  &__greeting {
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
  }

  &__card {
    margin-top: 20px;
    max-width: 500px;
  }

  &__theme-btn {
    margin: 0 8px;
  }

  &__nav--active {
    font-weight: bold;
    border-bottom: 3px solid white;
    padding-bottom: 8px !important;
  }
}