<div class="unauthorized">
  <div class="unauthorized__header">
    <mat-icon class="unauthorized__icon">lock</mat-icon>
    <h2 class="unauthorized__title">Access Denied</h2>
  </div>

  <mat-dialog-content class="unauthorized__content">
    <p>You need to be logged in to access this page.</p>
    <p>Please login or create a new account to continue.</p>
  </mat-dialog-content>

  <mat-dialog-actions class="unauthorized__actions">
    <button mat-raised-button color="primary" (click)="onLogin()" class="unauthorized__button">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <button mat-stroked-button color="primary" (click)="onRegister()" class="unauthorized__button">
      <mat-icon>app_registration</mat-icon>
      Register
    </button>
  </mat-dialog-actions>
</div>
