$primary: var(--primary-color);

.products {
  &__spacer {
    flex: 1 1 auto;
  }

  &__container {
    padding: 20px;
  }

  &__title {
    color: $primary;
  }

  &__table {
    width: 100%;
  }

  &__theme-btn {
    margin: 0 8px;
  }

  &__nav--active {
    font-weight: bold;
    border-bottom: 3px solid white;
    padding-bottom: 8px !important;
  }
}